@use 'vars';
.name-h1 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size:map-get(vars.$sizes,name-h1);
    letter-spacing: 0.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    color:map-get(vars.$colors,text);
}
.title-h2{
    margin-top:1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:map-get(vars.$sizes,title-h2);
    letter-spacing: 0.2rem;
    padding-left:0.2em;
    color:map-get(vars.$colors,text-light);
    text-transform: uppercase;
}
.underline{
    background:map-get(vars.$colors,text);
    width:3em;
    height:4px;
    border-radius: 4px;
    margin:0.3em 0;
}
h2{
    margin-top:1em;
    font-family: 'Roboto', sans-serif;
    font-size: map-get(vars.$sizes,h2);
    letter-spacing: 0.19rem;
    color:map-get(vars.$colors,text);
    text-transform: uppercase;
}
.p-bold{
    font-family: 'Roboto', sans-serif;
    font-size: map-get(vars.$sizes,p-bold);
    font-weight: 700;
    text-transform: uppercase;
    margin:1em 0;
}
.p-italic{
    font-style: italic;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: map-get(vars.$sizes,p);
}
img{
    position:relative;
    top:2px;
}