$colors:(
    text:#333,
    text-light:#888,
    bg:#ddd,
    bg-darker:#777,
    border:#aaa,
);

$sizes:(
    name-h1: 3.5rem,
    title-h2:1.45rem,
    h2:1.3rem,
    p-bold:1rem,
    p:0.9rem,
);