@use 'reset';
@use 'fontstyle';
@use 'vars';
@mixin border($side){
    border-#{$side}: 1px dashed map-get(vars.$colors,border);
}
%generic-flex{
    display:flex;
    justify-content:space-evenly;
}
body{
    color: map-get(vars.$colors,text);
    background-color: map-get(vars.$colors,bg-darker);
    background-image: url(../images/body_bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size:60%;
}
.page-container{
    position:relative;
    max-width: 900px;
    min-width:650px;
    height:auto;
    margin:2.5em auto;
    padding:5em;
    background-color: map-get(vars.$colors,bg);
    background-image: url(../images/fade.png);
    background-repeat: repeat;
    box-shadow: -32px 16px 64px 0px rgba(0, 0, 0, 0.5);
    .header-img{
        position:absolute;
        top:0;
        right:0;
        width:100%;
        height:600px;
        background-image: url(../images/header_bg.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 50%;
    }
    .header-container{
        position:absolute;
        top:5em;
        padding-top:3em;
        margin-bottom:2em;
    }
    .content-container{
        position:relative;
        top:14em;
        display:flex;
        justify-content: center;
        &__col-left{
            flex-grow: 1;
            flex-basis: 200px;
            padding-right:16px;
            @include border(top);
        }
        &__col-mid{
            min-width:16px;
            @include border(top);
            @include border(left);
        }
        &__col-right{
            flex-grow:3;
            .content-section:nth-child(1){
                width:20em;
            }
            .content-section{
                @include border(top);
                .social-flex{
                    @extend %generic-flex;
                }
                .flex-row{
                    @extend %generic-flex;
                    justify-content: start;
                    align-items: flex-start;
                    div:nth-child(2){
                        max-width:400px;
                        margin-left:3em;
                    }
                    .p-bold{
                        margin:0;
                    }
                }
            }
        }
    }
}